<div>
    <nav class='navbar navbar-default navbar-fixed-top'>
        <span class="nav-item logo txtcolor">{{title}} </span>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="mt-8" id="welcome" style="display:none;margin-top:15px">Welcome {{username | titlecase}}</div>
            </li>
            <li>
                <button id="login" (click)="login()" class="navbar-btn login-btn">{{loginTitle}}</button>
            </li>
            <li>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </span>
                    <select class="p-0" [ngModel]="location" (change)="onChange($event.target.value)" style="height: 2.4em;">
                        <option value="Bengaluru">Bengaluru</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Chandigarh">Chandigarh</option>
                    </select>
                </div>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>